In [1]:
import datetime as dt

In [5]:
dt_obj = dt.datetime.now()
print(dt_obj)
dt_obj = dt.datetime.today()
print(dt_obj)

2019-03-23 16:39:22.010826
2019-03-23 16:39:22.011058

In [10]:
d = dt.date(2019, 3, 14)
print(d)

2019-03-14

In [13]:
time_stamp = dt.date.fromtimestamp(1326244364)
print(time_stamp)

2012-01-10

In [17]:
a = dt.time()
b = dt.time(11, 34, 36)
print(a, b, b.hour, b.minute, b.second)

00:00:00 11:34:36 11 34 36

In [21]:
t1 = dt.timedelta(weeks=2, days=5, hours=1)
t2 = dt.timedelta(days=4, hours=11, seconds=54)
t3 = t1 - t2
print(t3, t3.total_seconds())

14 days, 13:59:06 1259946.0

In [28]:
now = dt.datetime.now()
t = now.strftime("%Y-%m")
print(t)

2019-03

In [29]:
import pytz

In [34]:
local = dt.datetime.now()
tz_NY = pytz.timezone('America/New_York')
datetime_NY = dt.datetime.now(tz_NY)
print(local, datetime_NY)

2019-03-23 16:51:41.638601 2019-03-23 19:51:41.638716-04:00